

.my-title{
    display: inline;
    margin-top: 12px;
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serifs;
}

.my-img{
    width: 15%;
}

.my-style{
    display: flex;
    align-items: center;
}

.my-title2{
    text-align: center;
    margin-top: 35px;
}

.my-wd{
    width: 48%;
}

.my-btn{
    margin-top: 50px;
    margin-left: 12px;
}

.my-btn2{
    position: relative;
    left: 83%;
    bottom: 40%;
}

.my-title3{
    text-align: center;
}
